<h1>Pedidos por entregar</h1>
<div class="example-container mat-elevation-z8">
    <table mat-table [dataSource]="pedidos">
        <!-- Pedido -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>Pedido</th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <!-- Fecha -->
        <ng-container matColumnDef="fecha">
            <th mat-header-cell *matHeaderCellDef>Fecha</th>
            <td mat-cell *matCellDef="let element"> {{element.fecha}} </td>
        </ng-container>

        <!-- Entregado -->
        <ng-container matColumnDef="entregado">
            <th mat-header-cell *matHeaderCellDef>Entregado</th>
            <td mat-cell *matCellDef="let element"> {{element.entregado}} </td>
        </ng-container>

        <!-- Monto Total -->
        <ng-container matColumnDef="monto_total">
            <th mat-header-cell *matHeaderCellDef>Monto</th>
            <td mat-cell *matCellDef="let element"> {{element.monto_total}} </td>
        </ng-container>

        <!-- Direccion -->
        <ng-container matColumnDef="direccion">
            <th mat-header-cell *matHeaderCellDef>Direccion</th>
            <td mat-cell *matCellDef="let element"> {{element.direccion}} </td>
        </ng-container>

        <!-- Telefono -->
        <ng-container matColumnDef="telefono">
            <th mat-header-cell *matHeaderCellDef>Telefono</th>
            <td mat-cell *matCellDef="let element"> {{element.telefono}} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Ver Detalle</th>
            <td *matCellDef="let element">
                <button mat-button mat-stroked-button (click)="verDetalle(element.id)">Ver Detalle</button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [length]="totalElements" [pageSize]="pageSize" (page)="listarPedidos($event.pageIndex)"></mat-paginator>
</div>
